@mixin app {
	#body1 {
		//		height:100vh;
		//min-height:100vh;
		@include flexbox;
		@include flex-direction(column);
		height:100vh;
		@include flex-basis(1);
		line-height: 1.4;
		[class^="dx-wrap"] {
			@include justify-content(flex-start);
			@include flex(1 0 auto);
		}
		[class^="dx-wrap-clientlist"] {
			display:block;
		}
		.dx-wrap-pending,
		.dx-wrap-products {
			//				min-height:100%;
		}
		.nav {
			@include flex-shrink(0);
		}
		footer {
			@include flex-shrink(0);
			overflow:auto;
			//				@include flex-shrink(0);
		}
	}


#body1.fullview-visible {
	.nav { display:none; }
	footer { display:none; }
	[class^="dx-wrap-clientlist"] { display:none;}
	.fullview {
		display:block;
	}
}
	
}


