$fontbase: 1rem;



$p-base: $fontbase * 1;
$small-base: $fontbase * .875;

$hxxl-base: $fontbase * 2.625; 
$hxl-base: $fontbase * 2.375; 
$h1-base: $fontbase * 2; 
$h2-base: $fontbase * 1.625; 
$h3-base: $fontbase * 1.5; 
$h4-base: $fontbase * 1.25; 
$h5-base: $fontbase * 1.125; 
$h6-base: $fontbase * 1; 


$hxxl-line-height: $fontbase * 1.20;
$hxl-line-height: $fontbase * 1.20;
$h1-line-height: $fontbase * 1.20;
$h2-line-height: $fontbase * 1.25;
$h3-line-height: $fontbase * 1.30;
$h4-line-height: $fontbase * 1.35;
$h5-line-height: $fontbase * 1.40;
$h6-line-height: $fontbase * 1.50;
$p-line-height: $fontbase * 1.50;




%line-height-1-1 { line-height:1.1; }
%line-height-1-15 { line-height:1.15; }
%line-height-1-2 { line-height:1.2; }
%line-height-1-25 { line-height:1.25; }
%line-height-1-3 { line-height:1.3; }
%line-height-1-35 { line-height:1.35; }
%line-height-1-4 { line-height:1.4; }
%line-height-1-45 { line-height:1.45; }
%line-height-1-5 { line-height:1.5; }
%line-height-1-55 { line-height:1.55; }
%line-height-1-6 { line-height:1.6; }


%p-color {
	color:#333;
}
%small-color {
	color:#333;
}
%pdef {
	font-weight:400;
	@extend %p-color;
}
%smalldef {
	font-weight:400;
	@extend %small-color;
}


%hxxl-font-size { 
	font-size:$hxxl-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $hxxl-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $hxxl-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$hxxl-base * $factor3; 
	}
}

%hxl-font-size { 
	font-size:$hxl-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $hxl-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $hxl-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$hxl-base * $factor3; 
	}
}


%h1-font-size { 
	font-size:$h1-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $h1-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $h1-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$h1-base * $factor3; 
	}
}
%h2-font-size { 
	font-size:$h2-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $h2-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $h2-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$h2-base * $factor3; 
	}
}
%h3-font-size { 
	font-size:$h3-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $h3-base * .86; 
	}
	@media (min-width:$bp2) {
		font-size: $h3-base * .82; 
	}
	@media (min-width:$bp3) {
		font-size:$h3-base; 
	}
}
%h4-font-size { 
	font-size:$h4-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $h4-base * .88; 
	}
	@media (min-width:$bp2) {
		font-size: $h4-base * .84; 
	}
	@media (min-width:$bp3) {
		font-size:$h4-base; 
	}
}
%h5-font-size { 
	font-size:$h5-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $h5-base * .90; 
	}
	@media (min-width:$bp2) {
		font-size: $h5-base * .86; 
	}
	@media (min-width:$bp3) {
		font-size:$h5-base; 
	}
}
%h6-font-size { 
	font-size:$p-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $p-base; 
	}
	@media (min-width:$bp2) {
		font-size: $p-base * .95; 
	}
	@media (min-width:$bp3) {
		font-size:$p-base; 
	}
}
%p-font-size {
	font-size:$p-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $p-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $p-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$p-base * $factor3; 
	}
}
%small-font-size {
	font-size:$small-base * $factor0; 
	@media (min-width:$bp1) {
		font-size: $small-base * $factor1; 
	}
	@media (min-width:$bp2) {
		font-size: $small-base * $factor2; 
	}
	@media (min-width:$bp3) {
		font-size:$small-base * $factor3; 
	}
}
%h1-margin-bottom { 
	margin-bottom:$h1-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $h1-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $h1-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$h1-base * $factor3; 
	}
}
%h2-margin-bottom { 
	margin-bottom:$h2-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $h2-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $h2-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$h2-base * $factor3; 
	}
}
%h3-margin-bottom { 
	margin-bottom:$h3-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $h3-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $h3-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$h3-base * $factor3; 
	}
}
%h4-margin-bottom { 
	margin-bottom:$h4-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $h4-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $h4-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$h4-base * $factor3; 
	}
}
%h5-margin-bottom { 
	margin-bottom:$h5-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $h5-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $h5-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$h5-base * $factor3; 
	}
}
%h6-margin-bottom { 
	margin-bottom:$p-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $p-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $p-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$p-base * $factor3; 
	}
}
%p-margin-bottom {
	margin-bottom:$p-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $p-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $p-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$p-base * $factor3; 
	}
}
%small-margin-bottom {
	margin-bottom:$small-base * $factor0; 
	@media (min-width:$bp1) {
		margin-bottom: $small-base * $factor1; 
	}
	@media (min-width:$bp2) {
		margin-bottom: $small-base * $factor2; 
	}
	@media (min-width:$bp3) {
		margin-bottom:$small-base * $factor3; 
	}
}
%h1-line-height { @extend %line-height-1-2; }
%h2-line-height { @extend %line-height-1-25; }
%h3-line-height { @extend %line-height-1-3; }
%h4-line-height { @extend %line-height-1-35; }
%h5-line-height { @extend %line-height-1-4; }
%h6-line-height { @extend %line-height-1-5; }
%p-line-height { @extend %line-height-1-5; }
%small-line-height { @extend %line-height-1-5; }
%h1 {
	@extend %hdef;
	@extend %h1-font-size;
	@extend %h1-line-height;
}
%h2 {
	@extend %hdef;
	@extend %h2-line-height;
	@extend %h2-font-size;
}
%h3 { 
	@extend %hdef;
	@extend %h3-line-height;
	@extend %h3-font-size;
}
%h4 {
	@extend %hdef;
	@extend %h4-font-size;
	@extend %h4-line-height;
}
%h5 {
	@extend %hdef;
	@extend %h5-line-height;
	@extend %h5-font-size;
}
%h6 {
	@extend %hdef;
	@extend %h6-line-height;
	@extend %h6-font-size;
}
%p {
	@extend %pdef;
	@extend %p-line-height;
	@extend %p-font-size;
}
%small {
	@extend %smalldef;
	@extend %small-line-height;
	@extend %small-font-size;
}
