@mixin dx-password-req {
	padding-top:10px;
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
	}
	li {
		padding-left:24px;
		position:relative;
		@media (min-width:$breakpoint) {
			margin-top:.2rem;
			margin-bottom:.2rem;
		}
		color:#666;
		img {
			width:16px;
			position:absolute;
			left:0;
			top:4px;
			display:none;
		}
		.dx-round-check-green {
			display:none;
		}
		.dx-round-check-grey {
			display:block;
		}
		&.confirmed {
			.dx-round-check-grey {
				display:none;
			}
			.dx-round-check-green {
				display:block;
			}
		}
	}
	.dx-password-req-hd {
		font-size: 24px;
		font-weight:200;
		margin-bottom:12px;
		color:#444;
	}
	/* START dev-changes to .dx-password-req */
	padding-top: 10px; 
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding-left: 24px;
		position: relative;
		color: #666;
	}
	@media (min-width: 700px) {
		li {
			margin-top: .2rem;
			margin-bottom: .2rem;
		} 
	}
	li img {
		width: 16px;
		position: absolute;
		left: 0;
		top: 4px;
		display: none;
	}
	li .dx-round-check-green {
		display: none;
	}
	li .dx-round-check-grey {
		display: block;
	}
	li.confirmed .dx-round-check-grey {
		display: none;
	}
	li.confirmed .dx-round-check-green {
		display: block;
	}
	.dx-password-req-hd {
		font-size: 24px;
		font-weight: 200;
		margin-bottom: 12px;
		color: #444;
	}
	/* END dev-changes to .dx-password-req */
}
