@mixin export {
	@media (min-width:$bp2) {
	padding-left:$sp1;
}
	@media (min-width:$bp3-wide) {
	padding-left:0;
}

	a {
		font-weight:600;
		font-size:1rem;
		line-height:1.4;
		div {
			text-align:center;
			@media (min-width:$cl-table-breakpoint-large) {
				display:inline-block;
			}
			vertical-align:middle;
		}
	}
	img {
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:32px;
		height:32px;
		@media (min-width:$cl-table-breakpoint-large) {
			margin-right:8px;
		}
	}
	.extra {
		display:none;
		@media (min-width:$cl-table-breakpoint-large) {
			display:inline;
		}
	}
}
