@mixin modal-2col {
	padding-left:$pad-unit-trimmed;
	padding-right:$pad-unit-trimmed;
	@media (min-width:$bp3) {
		padding-left:$pad-unit;
		padding-right:$pad-unit;

	}
	@include flex(1 1 100%);
	> .dx-col {

	}
	.panel {
		@include flex(1 1 100px);
		ul {
			list-style:none;
			padding:0;
			margin:0;
		}
		li {
			padding-top:$sp1;
			padding-bottom:$sp1;
			padding-right:$sp4;
			@media (min-width:$bp2) {
				padding-right:$sp2;
				padding-top:$sp2;
				padding-bottom:$sp2;

			}

		}

	}

}
