@mixin modal-pills-area {
	list-style-type:none;
	margin:0;
	padding:0;

	padding-left:$sp1;
	padding-right:$sp1;
	@media (min-width:$bp3) {
		padding-left:$sp1;
		padding-right:$sp1;




	}

	@include flexbox;
	@include flex-direction(row);
	@include justify-content(justify);
	@include align-items(justify);
	@include flex-wrap(wrap);



}
