@mixin password-strength {
	box-sizing: border-box;
	position: relative;

	.ReactPasswordStrength-input {
		box-sizing: border-box;
	}
	.ReactPasswordStrength-input:not(:focus).is-password-invalid { 
	}
	.ReactPasswordStrength-input:focus { outline: none; }
	.ReactPasswordStrength-strength-desc {
		color: transparent;
		text-align: left;
		transition: color 250ms ease-in-out;
		width: 15%;
	}

	&.is-strength-0 .ReactPasswordStrength-strength-desc { color: $error-red; }
	&.is-strength-1 .ReactPasswordStrength-strength-desc { color: $error-red; }
	&.is-strength-2 .ReactPasswordStrength-strength-desc { color: $yellow; }
	&.is-strength-3 .ReactPasswordStrength-strength-desc { color: #1CA945; }
	&.is-strength-4 .ReactPasswordStrength-strength-desc { color: #2FBF71; }

	.ReactPasswordStrength-strength-bar {
		box-sizing: border-box;
		height: 4px;
		position: relative; top: -4px; right: 0;
		transition: width 300ms ease-out;
		width: 0;
	}

	&.is-strength-0 .ReactPasswordStrength-strength-bar {
		background: $error-red;
		width: 20%;
	}

	&.is-strength-1 .ReactPasswordStrength-strength-bar {
		background: $error-red;
		width: 40%;
	}

	&.is-strength-2 .ReactPasswordStrength-strength-bar {
		background: $yellow;
		width: 60%;
	}

	&.is-strength-3 .ReactPasswordStrength-strength-bar {
		background: #1CA945;
		width: 80%;
	}

	&.is-strength-4 .ReactPasswordStrength-strength-bar {
		background: #2FBF71;
		width: calc(100% + 2px);
	}

}
