// from ClientList
$dx-views-width_Hhpra: 260px;
$dx-tools-height_Hhpra: $sp12;
$table-breakpoint_Hhpra: 1000px;

$table-bp1: 500px;
$table-bp2: $breakpoint;
$table-bp3: 1200px;

$cl-table-breakpoint-large:1000px;
$Hhpra-dx-tools-height: 50px;



