$mh0-open-pending: 342px;
$mh1-open-pending: 300px;
$mh2-open-pending: 183px;

$mh0-open-products: 485px;
$mh1-open-products: 280px;
$mh2-open-products: 280px;

$mh0-open-performance: 485px;
$mh1-open-performance: 280px;
$mh2-open-performance: 280px;

$dx-masthead-background: $color-blue-default;

