@import '../susy/x';
$bu: 16;

@function u($unit) {
	@return ($unit/$bu) * 1rem;
}

$factor0: 1;
$factor1: 1;
$factor2: 1;
$factor3: 1;

$pad-unit: 2rem;
$padh-trimmed: .5;
$pad-unit-trimmed: $pad-unit * $padh-trimmed;




@import 'colors'; 
@import 'spacing'; 
@import 'fonts'; 
@import 'breakpoints';
@import 'widths';
@import 'nav';
@import 'masthead';
@import 'clientlist';


